/* CSS Document */
body{
	margin: 0;
	padding: 0;
}
#wrapper{
	width: 990px;
	height: 110px;
	background: #E98105;
	padding-top: 10px;
	padding-left: 10px;
	margin: 0 auto 0 auto;
}

.container{
	width: 1000px;
	margin: 0 auto 0 auto;
	
}
.header{
	width: 1000px;
	height: 120px;
}
.logo img{
	margin-top: 18px;
	margin-left: 8px;		
}

.menu {
	width: 1000px;
	height: 50px;
	background: #0B0A0A;
}

.menu ul{
	list-style: none;
	margin: 0;
	padding: 15px;
}

.menu ul li{
	color: white;
	float: left;
	margin-right: 30px;
}

.big-box{
	width: 1000px;
}

.box-left{
	width: 650px;
	height: 420px;
	float: left;
	background: #B68687;
}
.box-left h1{
	color: yellow;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-style: italic;
	font-size: 25px;
}
.box-left h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 10px;
}
.box-left p{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 10px;
	text-align: justify;
	font-size: 15px;
	
}
.box-left h3{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 10px;
	font-style: italic;
	font-size: 25px;
}
.box-right{
	width: 350px;
	height: 420px;
	float: left;
	background:#BF9CBF;
}

.box-right-img img{ 
	width: 300px;
	height: 400px;
	margin-right: 25px;
	margin-top: 10px;
	float: right;
	background: #BF9CBF;
	
}
.footer{
	clear: both;
	width: 1000px;
	height: 50px;
	background: #000000;
}
.footer h4{
	color: white;
	padding: 10px;
}

